@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .homePageTitle {
        font-size: 2em;
    }
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px;
}